*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*strttura */
.box-menu-orange{
    border: 1px dotted black;
    background-color: orange;
}


.padding-3{
    padding: 3rem 0;
} 

.padding-t1-b2{
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.margin{
    margin-bottom: 0.2rem;
}

.bg-acquamarine{
    background-color: aquamarine;
    padding: 0.5rem 8rem;  
}
.bg-blu{
    background-color: blue;
}


.bg-darkgrey{
    background-color: rgb(90, 86, 86);
}

.box-b{
    border: 1px dotted black;
}

.box-w{
    border: 1px dotted white;
}

.box-lightblu{
    height: 300px;
    width: 500px;
    background-color: rgb(173, 191, 230);
}

.box-pink{
    height: 300px;
    width: 300px;
    background-color: pink;
}

.box-green{
    height: 500px;
    width: 800px;
    background-color: green;
}

.box-salmon{
    height: 300px;
    width: 266px;
    background-color: salmon;
}

.box-ciano{
    height: 300px;
    width: 133px;
    background-color:cyan;
}

.box-turchese{
    height: 50px;
    width: 800px;
    background-color: turquoise;
}

.box-footer-salmon{
    border: 1px dotted black;
    background-color: salmon;
}

.logo-end{
    height: 20px; 
    width: 50px; 
    text-align: center;
}

.button-end{
    height: 20px;
    width: 50px;
}

.space{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}





/* generali */

ul li a  {
    text-decoration: none;
    color: white ;
}

.flex{
    display: flex;
}

.box{
    max-width: 800px;
    margin: 0 auto;
}

.jumbo{
    max-width: 600px;
    margin: 0 auto;
    padding: 5rem 0;
}

.flex-center{
    justify-content: center;
    align-items: center; 
}

.center{
    text-align: center;
}

.text-white{
    color:white;
}

.padding-top2{
    padding-top: 2rem;
}

/* header */

.top-bar{
    justify-content: space-around;
    padding-top: 0.5rem;
}

.menu-logo{
    width:100px;
}

.menu-link{
    list-style-type: none;
    justify-content: center;
    gap: 2rem ;  
    padding: 0.4rem; 
}

.button{
    padding: 0.6rem 1rem;
    border-radius: 20px;
    margin-right: 1rem;
}

.button-white{
    background-color: white;
}

.button-black{
    background-color: black;
    color: white;
}

.button-lightblue{
    background-color: #91A2DD;
    color: white;
}


.bg-header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding-bottom: 5rem;
}

/* main */

.box-image{
    width: 500px;
    height: 500px;
}   

.box-text{
    padding: 2rem;
}

main p {
    font-size: small;
}

main h2{
    font-size: xx-large;
}

.bg-grey{
    background-color: #F6F6F6;
}

.margin-x{
    margin: 0 8rem;
}

.stelline{
    background-image: url(../img/stars.svg);
    display: cover;
}