*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*strttura */
.box-menu-orange{
    border: 1px dotted black;
    background-color: orange;
}

.padding-3{
    padding: 3rem 0;
}

.padding-t1-b2{
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.margin{
    margin-bottom: 0.2rem;
}

.bg-acquamarine{
    background-color: aquamarine;
    padding: 0.5rem 8rem;  
}
.bg-blu{
    background-color: blue;
}

.bg-grey{
    background-color: grey;
}

.bg-darkgrey{
    background-color: rgb(90, 86, 86);
}

.box-b{
    border: 1px dotted black;
}

.box-w{
    border: 1px dotted white;
}

.box-lightblu{
    height: 300px;
    width: 500px;
    background-color: rgb(173, 191, 230);
}

.box-pink{
    height: 300px;
    width: 300px;
    background-color: pink;
}

.box-green{
    height: 500px;
    width: 800px;
    background-color: green;
}

.box-salmon{
    height: 300px;
    width: 266px;
    background-color: salmon;
}

.box-ciano{
    height: 300px;
    width: 133px;
    background-color:cyan;
}

.box-turchese{
    height: 50px;
    width: 800px;
    background-color: turquoise;
}

.box-footer-salmon{
    border: 1px dotted black;
    background-color: salmon;
}

.logo-end{
    height: 20px; 
    width: 50px; 
    text-align: center;
}

.button-end{
    height: 20px;
    width: 50px;
}

.space{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg{
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* nuovo */


.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center; 
}

.padding-top2{
    padding-top: 2rem;
}

.top-bar{
    justify-content: space-around;
    padding-top: 0.5rem;
}

.menu-logo{
    width:100px;
}

.menu-link{
    list-style-type: none;
    justify-content: center;
    gap: 2rem ;  
    padding: 0.4rem; 
}

.button-login{
    padding: 0.5rem;
    border-radius: 35%;
    background-color: white;
}

.jumbo{
    margin: 0 20rem;
}

.button-jumbo{
    padding: 0.8rem 1rem;
    border-radius: 20px;
}

.button-white{
    background-color: white;
}

.button-black{
    background-color: black;
    color: white;
}

.margin-x-2{
    margin-right: 2rem;
}

.center{
    text-align: center;
}


.text-white{
    color:white;
}

.bg-header{
    background-image: url(../img/jumbo.png);
    background-size: 100%;
}
