*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padding-3{
    padding: 3rem 0;
} 


.padding-top2{
    padding-top: 2rem;
}

.padding-bottom4{
    padding-bottom: 4rem;
} 

.flex{
    display: flex;
}

.space{
    justify-content: space-between;
    align-items: center;
}

.flex-center{
    justify-content: center;
    align-items: center; 
}

.center{
    text-align: center;
}


ul li a  {
    text-decoration: none;
    color: white ;
}


.box{
    max-width: 800px;
    margin: 0 auto;
}

.jumbo{
    max-width: 600px;
    margin: 0 auto;
    padding: 5rem 0;
}


.text-white{
    color:white;
}

.text-blue{
    color: #7A8BDB;
}

.wave{
    opacity: 4%;
    display: block;
}

.wave-capovolta{
    transform: scaleY(-1);
}

.top-bar{
    justify-content: space-around;
    padding-top: 0.5rem;
}

.menu-logo{
    width:100px;
}

.menu-link{
    list-style-type: none;
    justify-content: center;
    gap: 2rem ;  
    padding: 0.4rem; 
}

.button{
    padding: 0.6rem 1rem;
    border-radius: 20px;
    margin-right: 1rem;
}

.button-white{
    background-color: white;
}

.button-black{
    background-color: black;
    color: white;
}

.button-lightblue{
    background-color: #91A2DD;
    color: white;
}


.bg-header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding-bottom: 5rem;
}

.box-image{
    width: 500px;
    height: 500px;
}   

.box-text{
    padding: 2rem;
}

main p,
footer p {
    font-size: small;
}

main h2, 
footer h3 {
    font-size: xx-large;
}

.bg-grey{
    background-color: #F6F6F6;
}

.bg-darkgrey{
    background-color: #24272A;
}

.margin-x{
    margin: 0 8rem;
}

.stelline{
    background-image: url(../img/stars.svg);
    display: cover;
}

.col-30{
    flex-basis: 30%;
}

.col-70{
    flex-basis: 70%;
}

.col-25{
    flex-basis: 25%;
}

.ita{
    height: 15px;
    width: 20px;
    margin-right: 0.5rem;
}

.logo-social{
    height: 20px;
    width: 20px;
    background-color: white;
    margin-right: 0.3rem;
}

.padding-top1{
    padding-top: 1rem;
}

hr{
    margin-bottom: 2rem;
}